@import url("https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f7f9fd;
  display: flex;
  overflow: hidden;
}
.aside {
  background-color: white;
  width: 16rem;
  height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 10;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 1);
  padding-top: 0.5rem;
  transition: all 0.4s ease-in-out;
}
.heading img {
  height: 4rem;
  width: 8rem;
}
.heading {
  width: 8rem;
  margin: 0 auto;
}

.top img {
  width: 30px;
}
.profile {
  display: flex;
  padding-left: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  gap: 0.5rem;
}
.profile .image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #c7c8cc;
  position: relative;
}
.profile i {
  font-size: 2.5rem;
  color: #363d55;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile p {
  font-size: 1.2rem;
  padding-top: 0.2rem;
  color: #1b4ad7;
  text-transform: capitalize;
  font-style: italic;
  font-family: "Playwrite FR Moderne", cursive;
}

.menu div,
.bottom {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  align-items: center;
  cursor: pointer;
}
.menu div:hover,
.bottom:hover {
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.4);
  border-radius: 0.6rem;
  padding: 0.5rem;
  font-weight: 500;
  border-left: 0.25rem solid rgb(5, 5, 132);
}
.active-border-aside {
  border-left: 0.25rem solid rgb(5, 5, 132);
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.4);
  border-radius: 0.6rem;
  padding: 0.5rem;
  font-weight: 500;
}
.bottom {
  position: absolute;
  bottom: 2rem;
  margin: 0;
  margin-left: 1rem;
  width: calc(100% - 1rem);
}

.hamburger {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 50px;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 1);
  display: none;
}
.hamburger i {
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  display: block;
  margin-top: 1em;
}

.close-div {
  position: absolute;
  right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 25px;
  cursor: pointer;
}

.container {
  width: 60%;
  margin: 2em auto;
}
.ans-div {
  width: 100%;
  background-color: white;
  border: 2px solid rgb(5, 5, 132);
  border-radius: 25px;
  height: 80vh;
  margin-bottom: 2em;
  padding: 1.5em 1em;
  overflow-y: auto;
}

.ans-div::-webkit-scrollbar {
  display: none;
}

.question-div {
  width: 100%;
  position: relative;
}

.text {
  width: 100%;
  border: 2px solid rgb(2, 2, 3);
  border-radius: 30px;
  height: 8vh;
  font-size: 20px;
  padding-left: 1.5rem;
  padding-right: 65px;
}

.text::placeholder {
  font-size: 20px;
}

.circle {
  height: 7vh;
  width: 7vh;
  background-color: rgb(12, 154, 12);
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
}

.circle i {
  position: absolute;
  font-size: 30px;
  color: white;
  right: 13px;
  top: 9px;
}

video {
  -webkit-media-controls: none;
  -moz-media-controls: none;
  -ms-media-controls: none;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ques-display {
  display: flex;
  align-items: first baseline;
  gap: 10px;
  margin-bottom: 1em;
}

.ques-display p {
  font-size: 18px;
  font-weight: 500;
}

.ans-display {
  margin-bottom: 1.5em;
}

.successful-login {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 10000;
  display: none;
}
.login-done {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  width: 550px;
  height: 100px;
  background-color: green;
  color: white;
  font-size: 32px;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  padding: 30px;
  gap: 20px;
}

/* Responsive */

@media screen and (min-width: 1056px) {
  .hamburger {
    display: none;
  }
  .aside {
    display: block;
  }
  .close-div {
    visibility: hidden;
  }
  .bottom {
    bottom: 2rem;
  }
}

@media screen and (max-width: 1055px) {
  .aside {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 50px;
    z-index: 4;
  }
  .aside-inside {
    display: none;
  }
  .close-div {
    visibility: visible;
  }
  .hamburger {
    display: block;
    z-index: 5;
  }
  .bottom {
    bottom: -200px;
  }
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .aside {
    width: 40px;
  }
  .login-done {
    font-size: 20px;
    width: 380px;
    height: 50px;
  }
}
